
body{
font-family: Georgia;
background:linear-gradient(to right,#703c77,#e9e6e7,#87f5f5);
margin:0;
}

.header{
  display:flex;
  justify-content:center;
  align-items:center;
  padding:20px;
  
}

.logo img{
    margin-right: 30px;
  height: 100px;
}
.title{
font-size:40px;
font-family:'Times New Roman' ;
font-weight:bold;
color:rgb(0, 0, 0);
text-align:center;
}

.category-buttons{

display:flex;
flex-wrap:wrap;
justify-content:left;
gap:15px;
padding: 10px;
margin-top:15px;
}

.btn:hover{
transform:scale(1.20);
}

.btn{
padding:10px 16px;
font-family:  Cochin;
background:linear-gradient(to right,#ffffff,#c2f1ff);
color:rgb(0, 0, 0);
text-decoration:none;
border-radius:5px;
font-size:14px;
}

.products{
display:flex;
flex-wrap:wrap;
justify-content:center;
gap:20px;
padding:20px;
}

.products{
display:flex;
flex-wrap:wrap;
justify-content:center;
gap:30px;
padding:20px;
}

.card{
background:rgb(255, 255, 255);
width:220px;
padding:15px;
border-radius:10px;
text-align:center;
box-shadow:0 2px 10px rgba(0,0,0,0.1);
}

.card:hover{
transform:scale(1.10);
}

.card img{
width:100%;
border-radius:10px;
}

.price{
font-size:10px;
font-weight:bold;
margin:10px 0;
}

button{
background:#d38225;
color:rgb(0, 0, 0);
border:none;
padding:10px;
border-radius:20px;
cursor:pointer;
}

button:hover{
background:#1ebe5d;
}

footer{
background:black;
color: white;
padding:40px;
margin-top:50px;
}

.footer{
display:flex;
justify-content:space-around;
flex-wrap:wrap;
}